---
import type { EntryFields } from "contentful";
import { contentfulClient } from "../libs/contentful";
import type { TypeBlogSkeleton } from "../types/content-types";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import Layout from "../layouts/Layout.astro";
import "../styles/blog.css";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<TypeBlogSkeleton>({
    content_type: "blog",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      eyecatch_url: ("https:" +
        (item.fields.eyecatch as EntryFields.AssetLink)?.fields.file
          ?.url) as string,
      date: item.fields.date,
      body: documentToHtmlString(item.fields.body),
    },
  }));

  return pages;
}

const { title, eyecatch_url, date, body } = Astro.props;
---

<Layout>
  <div class="mx-auto max-w-screen-md px-8">
    <div class="tracking-wide">
      <div class="space-y-4 pb-16">
        <div class="text-right font-semibold text-neutral-500">
          {new Date(date).toLocaleDateString()}
        </div>
        <div class="text-3xl font-semibold">{title}</div>
        <img
          src={eyecatch_url}
          class="rounded-xl shadow-xl shadow-neutral-100"
        />
      </div>

      <article set:html={body} class="leading-relaxed" />
    </div>
  </div>
</Layout>
