---
import Layout from "../layouts/Layout.astro";
import { getBlogDetail, getBlogs } from "../libs/microcms";
import "../styles/blog.css";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id", "slug"] });
  return response.contents.map((content) => ({
    params: {
      slug: content.slug,
    },
    props: {
      id: content.id,
    },
  }));
}

const { id } = Astro.props;
const content = await getBlogDetail(id);
const post = {
  title: content.title,
  eyecatch_url: content.eyecatch.url,
  body: content.body,
  date: new Date(content.publishedAt ?? 0).toLocaleDateString(),
};
---

<Layout>
  <div class="mx-auto max-w-screen-md px-8">
    <div class="tracking-wide">
      <div class="space-y-4 pb-16">
        <div class="text-right font-semibold text-neutral-500">
          {post.date}
        </div>
        <div class="text-3xl font-semibold">{post.title}</div>
        <img
          src={post.eyecatch_url}
          class="rounded-xl shadow-xl shadow-neutral-100"
        />
      </div>

      <article set:html={post.body} class="leading-relaxed" />
    </div>
  </div>
</Layout>
