---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";

const response = await getBlogs({ fields: ["slug", "title", "eyecatch"] });

const posts = response.contents.map((content) => ({
  slug: content.slug,
  title: content.title,
  eyecatch_url: content.eyecatch?.url,
  date: new Date(content.publishedAt ?? 0).toLocaleDateString(),
}));
---

<Layout>
  <div class="mx-auto w-full max-w-screen-lg px-8">
    <div
      class="flex w-full flex-wrap gap-8 py-4 sm:[&>*]:w-[calc((100%-2rem)/2)] lg:[&>*]:w-[calc((100%-4rem)/3)]"
    >
      {
        posts.map((post) => (
          <BlogCard
            slug={post.slug}
            title={post.title}
            eyecatch_url={post.eyecatch_url}
            date={post.date}
          />
        ))
      }
    </div>
  </div>
</Layout>
