---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";
import { formatDate } from "../libs/util";

const response = await getBlogs({
  fields: ["slug", "title", "eyecatch", "publishedAt"],
});

const posts = response.contents.map((content) => ({
  slug: content.slug,
  title: content.title,
  eyecatch_url: content.eyecatch?.url,
  date: formatDate(content.publishedAt),
}));
---

<Layout grid>
  {
    posts.map((post) => (
      <div class="col-span-full sm:col-span-6 md:col-span-4">
        <BlogCard
          slug={post.slug}
          title={post.title}
          eyecatch_url={post.eyecatch_url}
          date={post.date}
        />
      </div>
    ))
  }
</Layout>
