---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";
import { formatDate } from "../libs/util";

const response = await getBlogs({
  fields: ["slug", "title", "eyecatch", "publishedAt"],
});

const posts = response.contents.map((content) => ({
  slug: content.slug,
  title: content.title,
  eyecatch_url: content.eyecatch?.url,
  date: formatDate(content.publishedAt),
}));
---

<Layout>
  <div
    class="mx-auto w-full p-10 sm:p-12 md:max-w-screen-md lg:max-w-screen-lg"
  >
    <div class="w-full tracking-wide">
      <div class="grid w-full gap-12 sm:grid-cols-2 lg:grid-cols-3">
        {
          posts.map((post) => (
            <BlogCard
              slug={post.slug}
              title={post.title}
              eyecatch_url={post.eyecatch_url}
              date={post.date}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
