<div class="flex h-24 w-full items-center justify-center">
  <a href="/" class="mt-2 p-2">
    <div id="title" class="text-logo select-none font-logo text-3xl font-bold">
      lomaru.net
    </div>
  </a>
</div>
