<div class="flex h-16 w-full items-center justify-center sm:h-24">
  <a href="/" class="mt-2 p-2">
    <div class="select-none font-logo text-2xl font-bold text-logo sm:text-4xl">
      lomaru.net
    </div>
  </a>
</div>
