---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>lomaru.net</title>
  </head>
  <body class="bg-neutral-50 font-body text-neutral-900">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
