---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { cn } from "../libs/util";

interface Props {
  grid?: boolean;
  title?: string;
}

const { grid = false, title } = Astro.props;
---

<!doctype html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ? `${title} - lomaru` : "lomaru"}</title>
    <ClientRouter />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content={title} />
    <meta name="og:image" content="https://lomaru.net/favicon.png" />
  </head>
  <body class="flex min-h-full flex-col font-main text-font">
    <Header />

    <main
      class={cn(
        grid &&
          "mx-auto grid w-full max-w-screen-lg grid-cols-12 gap-y-10 sm:gap-10",
        "p-8"
      )}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
